<div class="container">
  <div class="card mt-5" style="align-items: center;">
    <h1>Employee Form</h1>
  </div>
  
  <div class="card mt-5">
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
      
      <div class="card mt-5" style="padding: 20px;">
        <div>
          <label for="name">Name :</label>
          <input type="text" #name (ngModel)="name" name="name" id="name" class="form-control" placeholder="Name">  
        </div>
        <div>
          <label for="email">Email :</label>
          <input type="text" #email (ngModel)="email" name="email" id="email" class="form-control" placeholder="Email Address">  
        </div>
        <div>
          <label for="phone">Phone Number :</label>
          <input type="text" #phone (ngModel)="phone" name="phone" id="phone" class="form-control" placeholder="Phone Number">  
        </div>
        <div>
          <label for="address">Address :</label>
          <input type="address" #address (ngModel)="address" name="address" id="address" class="form-control" placeholder="Address">  
        </div>
        <div>
          <label for="degree">Degree :</label>
          <input type="degree" #degree (ngModel)="degree" name="degree" id="degree" class="form-control" placeholder="Degree">  
        </div>
        <div>
          <label for="institute">Institute :</label>
          <input type="institute" #institute (ngModel)="institute" name="institute" id="institute" class="form-control" placeholder="Institute Name">  
        </div>
        <div>
          <label for="experience">Experience :</label>
          <input type="experience" #experience (ngModel)="experience" name="experience" id="experience" class="form-control" placeholder="Experience">  
        </div>
        <div class="form-group">
          <input type="submit" value="Register" class="btn btn-primary w-100">
        </div>

      </div>
    </form>
  </div>
</div>